<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TagHashProject</title>

    <!-- linking up our css file for this page -->
    <link rel="stylesheet" href="../static/afterSubmit.css">

</head>
<body>


    <form action="/" method="get">
        <div id="data-btn">
          <button type="submit" class="btn data-btn btn-outline-success">Submit another response.</button>
        </div>
      </form>

    <form action="/">
    <button type="submit" class="btn btn-danger">Submit another Response</button>
</form>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</body>
</html>