<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TagHashProject</title>

    <!-- Loading up stylesheet for this page -->
    <link rel="stylesheet" href="../static/record.css">

  </head>
  <body>

    <div class="container">
        <h2>Total records submitted by users.</small></h2>

      <ul class="responsive-table">
    
            <li class="table-header">
                <div class="col col-1">Name</div>
                <div class="col col-2">Willing to vote?</div>
                <div class="col col-3">Date of submission</div>
              </li>

              <!-- these records will be fetched from the database to display all the records -->
      <% for (record of records) { %>
            
        <li class="table-row">
            <div class="col col-1" data-label="Job Id"><%= record.name %></div>
            <div class="col col-2" data-label="Customer Name"><%= record.vote %></div>
            <div class="col col-3" data-label="Amount"><%= record.date %></div>
          </li>
        
        
    <% } %>
</ul>


<!-- action for going back to the homepage -->
<form action="/afterSubmit" method="get">
    <div id="data-btn">
      <button type="submit" class="btn data-btn btn-outline-success">Go back to HomePage</button>
    </div>
  </form>

</div>
</table>
  </body>
</html>
