

Contains all the css for 
.data-btn {
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
    text-align: center;
  }
  #data-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }